<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/b5b7c6b9e8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="signup.js" defer></script>
</head>
<body>
    <form onsubmit="signup(event)" class="signUpform">
        <h1>Sign Up</h1>
        <div class="input">
            <span><i class="fa-regular fa-user"></i></span>
            <input type="username" id ="username" name ="username" placeholder="Username" required> 
        </div>
        <div class="input">
            <span><i class="fa-solid fa-envelope"></i></span>
            <input type="email" id ="email" name ="email" placeholder="Email" > 
        </div>
        <div class="input">
            <span><i class="fa-solid fa-lock"></i></span>
            <input type="password" id ="password" name ="password" placeholder="Password" required> 
        </div>
        <div class="btn"><button type="submit">Sign Up</button></div>
        <div class="loginLink"><a href="login.html">Existing user? Log in</a></div>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="/views/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/signup.js" defer></script>
</head>
<body>
	<img class="wave" src="/image/wave.png">
	<div class="container">
		<div class="img">
			<img src="/image/graph1.svg">
		</div>
		<div class="login-content">
			<form onsubmit="signup(event)">
				<h2 class="title">Sign Up</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<!-- <h5>Username</h5> -->
           		   		<input type="text" class="input" name="username" placeholder="Username">
           		   </div>
           		</div>
                   <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                            <!-- <h5>Username</h5> -->
                            <input type="text" class="input" name="email" placeholder="Email Id">
                    </div>
                 </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <h5>Password</h5> -->
           		    	<input type="password" class="input" name="password" placeholder="Password">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Sign Up">
                <a href="login.html">Already Registered? Login</a>
            </form>
        </div>
    </div>
</body>
</html>